* {
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 209, 255);
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

main {
  max-width: 900px;
  margin: auto;
}

h1 {
  margin-bottom: 3rem;
  padding: 0.7rem;
  background-color: white;
  display: inline-block;
}

section {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.7rem;
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
  height: 100%;
  border: 3px solid white;
}
section:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (min-width: 600px) {
  .sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, minmax(300px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
  }

  section {
    margin: 0;
  }

  .sections a {
    height: 100%;
  }
}

h3 {
  background-color: white;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}
section:hover h3 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
  height: 50vw;
  display: block;
}

section p {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 0.5rem;
}

img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
